	<div class="row">
		<%= form_for @book, :html => {:multipart => true,:class=>"form-horizontal span12"} do |f| %>

	 		<fieldset class="row">
	 			<div class="control-group ">
	 				<%= f.label :Naslov, :class=>"control-label" %>
	 		    	<div class="controls">
 		    		 	<%= f.text_field :title, :class=>"span6" %>
	 		    		<p class="help-block"><span>*</span> Obavezno polje</p>
	 		    	</div>
	 		   </div>
	 		   <div class="control-group ">
		 		     <%= f.label :Autor_dela, :class=>"control-label" %>
		 		    <div class="controls">
		 		    	<%= f.text_field :author, :class=>"span6", :data => {:provide=> 'typeahead'}, :autocomplete => 'off' %>
		 		    	<p class="help-block"><span>*</span> Obavezno polje</p>
		 		    </div>
		 	   	</div>
	 		   <div class="control-group ">
 			     	<%= f.label :Kategorija, :class=>"control-label" %>
	 			    	<div class="controls">
	 			    		<%= f.text_field :categories,:class=>"span4", :data => {:provide=> 'typeahead'}, :autocomplete => 'off' %>
	 			    		<p class="help-block"><span>*</span> Obavezno polje, unete kategorije razdvojte zarezom</p>
	 			    	</div>
	 			</div>
	 			 <div class="control-group ">
		 		     <%= f.label :Jezik, :class=>"control-label" %>
		 		    <div class="controls">
		 		    	<%= f.select :lang, ["Srpski","Engleski"], :class=>'span4' %>
		 		    </div>
		 	   	</div>	
	 			<div class="control-group ">
	 		        <%= f.label :Informacije_o_knjizi, :class=>"control-label" %>
	 		        <div class="controls">
	 		        	<%= f.text_area :info, :class =>"span9", :id=>"textarea", :rows=>"10" %>
	 		        </div>
	 		    </div>
	 		    <div class="control-group ">
		 		    <%= f.label :Veb_adresa,:class=>"control-label" %>
		 		    <div class="controls">
						<%= f.text_field :webpage,:class=>"span6" %>
		 		    	<p class="help-block"><span>*</span> Obavezno polje</p>
		 		    </div>
		 	   	</div>  
	 		   	<div class="control-group form-inline txt-box">
	 			    <div class="row">
	 			    	<div class="span9 offset2">
 			    			<div class="span4">
 			    				<%= f.label :remote_image_url, "Izaberite sliku",:class=>"control-label" %>
 			    				<%= f.file_field :image, :class=>"input-file" %> 
 			    			</div>
	 			    		<div class="span4">
	 			    			<%= f.label :remote_image_url, "ili url slike",:class=>"form-url control-label" %>
     		    				<%= f.text_field :remote_image_url %>
		 			    	</div>
		 		    	</div>
						<% if @book.image.to_s != 'default.gif'%>
							<div class="span5 offset4 f-img">
								<%= image_tag @book.image_url(:thumb).to_s %>
								<%= f.label :remove_image, :class=>"checkbox" do%>
								<%= f.check_box :remove_image %>
								<p>Želite li da obrišete sliku?</p>
								<% end %>
							</div>
						<% end %>
		 		    </div>
	 		   </div>
	 		   <div class="span3 offset5">
	 		   		<%= f.submit :class=>"btn btn-primary"%>
	 		        <%= link_to "Obustavi", root_path, :method => "get", :class=>"btn" %>
	 		   </div>
	 		</fieldset>
		 <% end %>
	</div>