<% for book in @books %>
<div class="book span6">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span6">
				<%= link_to book, :class=> 'thumbnail' do %>
					<%= image_tag book.image_url(:thumb).to_s %>
				<% end %>
            </div>
            <div class="span6">
            	<h3><%= link_to book.title, book%></h3>
            	<h4>Autor:</h4><p><%= book.author%></p>
            	<div class="desc">
            		<%= truncate(book.info, :length => 143, :separator => ' ')%>
            		<p><%= link_to 'saznaj više >', book%></p>
            	</div>
            	<pre class="link"><i class=" icon-bookmark"></i><%= link_to 'Veb stranica', book.webpage%></pre>
            </div>
          </div>
          <div class="book-adm row-fluid">
	      	<div class="span6">
	      		<%= link_to 'Izmeni', edit_book_path(book),:class => 'btn pull-right' %>
	      	</div>
	    	<div class="span6">
	    		<%= link_to 'Obriši', book, :method => 'delete', :class =>'btn btn-danger' %>
	    	</div>	 
          </div>
        </div>
      </div>
</div>
<% end %>
<div class="span12"><%= will_paginate @books,:class => "pager" ,:page_links => false %></div>

