<% title @book.title + " | Slobodna polica" %>

<div class="row">
	<div class="container">
		<% if admin? %>
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span2 offset5">
							<%= link_to 'Izmeni', edit_book_path, :class => 'btn pull-right' %>
							<%= link_to 'Obriši', "#", :method => 'delete', :class =>'btn btn-danger' %></div>
					</div>
				</div>
			</div>
		<% end%>
		<div class="row">
			<div class="span8 book-heading">
					<h1><%= @book.title%></h1>
					<h3>Autor:&nbsp;<%= link_to @book.author, root_path(:search => @book.author )%></h3>
					<div class="row">
						<div class="span8">
							<h3>Kategorije: <%= link_to @book.categories.downcase, '#categories', :data => {:toggle=>"modal"}%></h3>
						</div>
					</div>
					<div class="row">
						<div class="span8">
							<h3><%= link_to @book.lang, root_path(:search => @book.lang)%>&nbsp;jezik</h3>
						</div>
					</div>
			</div>
			<div class="span4 book-img">
				<div class="row">
					<%= image_tag @book.image_url.to_s, :class=> 'thumbnail' %>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="span12 txt-box">
				<div class="row">
						<div class="span10 offset1"><p><%= @book.info%></p></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="row">
					<div class="span4 offset4"><pre class="link"><i class=" icon-bookmark"></i><%= link_to @book.webpage, @book.webpage%></pre></div>
				</div>
			</div>
		</div>
		<%= render 'share'%>
		<%= render 'comments'%>
	</div>
</div>