<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Slobodna polica", root_path, :class => "brand span2" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
             <ul class="nav">
            	<li><%= link_to "Kategorije", '#categories', :data => {:toggle=>"modal"} %></li>
            	<li><%= link_to "Dodaj", new_book_path %></li>
            	<li><%= link_to "O projektu", '#about', :data => {:toggle=>"modal"} %></li>
              <% if admin? %>
                <li><%= link_to "Log out", logout_path %></li>
              <% end %>
            </ul>
            <form action="/" method="get" class="navbar-search pull-right">
              <%= text_field_tag :search, params[:search], :class=>"search-query", :placeholder=>"Pretraga" %>
            </form>
      </div>

    </div>
  </div>
</div>