<!DOCTYPE html>
<html>
<head>
  <title>SlobodnaPolica</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var allCat = [<% for category in categories %>"<%= category %>",<% end %>];
            $('#book_categories').typeahead({source: allCat});
        });
    </script>
<body>

<%= render "layouts/navbar" %>


<% flash.each do |name, massage| %>
  <div class="alert">
    <a class="close" data-dismiss="alert">×</a>
    <span class="badge badge-warning">Obaveštenje:</span> <%=  massage%>
  </div>	
<% end %>

<%= yield %>

<%= render "layouts/modals" %>
 
</body>
</html>
