<!DOCTYPE html>
<html>
<head>
  <title>SlobodnaPolica</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, massage| %>
	<%= content_tag :div, massage, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
